pymss>=2.0.5

# pymss requires the following dependencies
# av>=14
# librosa>=0.10.2
# numpy>=1.26
# pyyaml>=6.0.1
# torch>=2.7.1
# tqdm>=4.60
# mlx>=0.31.0; sys_platform == 'darwin' and platform_machine == 'arm64'